<!-- Angular chi update binding khi có event phát sinh-->
<!-- (keyup)="0" là một event để thông báo Angular update binding. Ta có thể dùng event khác -->
<div class="form-input-component-layout"  (keyup)="0" >
  <h1>formInputComponent here</h1>
  <p style="color: red;"> ko nên dùng cách này => nên dùng 2ways binding:</p>
  <p> (keyup)="eventKeyUp()" ở input tag để thông báo text change </p>

  <!-- #heroInput: là tên biến đại diện cho input dùng như biến javaScript  -->
  <!-- xem project call child component from Parent template html -->
  <!-- https://www.w3schools.com/tags/tag_input.asp => tim sẽ thấy attribute = value -->
  <input type="text" #heroInput>

  <h2> {{heroInput.value}} </h2>

  <!-- (click)="javaScript Expression" -->
  <!-- expression là javaScript nên biến ko cần {{}} -->
  <!-- $event: sẽ chứa tọa độ click. Đây là local variable chỉ có tác dụng trong double quote "" -->
  <button class="button" (click)="this.submitMessage(heroInput.value)">submit</button>
</div>
