<div class="ng-binding2-selection-component-layout">
  <h3>binding2-selection</h3>
  <div>role: {{ roleSelect | json }}</div>

  <div class="form-group">
    <label for="role"><b>Role</b></label>
    <select class="form-input" id="role" name="role" [(ngModel)]="roleSelect">
      <!-- selection = so sánh [ngValue] với  [(ngModel)]="roleSelect"-->
      <!-- dùng [ngValue] thay cho [value]. [value] chỉ dùng cho String -->
      <option *ngFor="let role of roles" [ngValue]="role">{{ role.name }}</option>
    </select>
  </div>
</div>
